# Все переменные имеют дефолтные значения в docker-compose.yaml.
# Этот файл нужен только если вы хотите переопределить значения по умолчанию.
#
# Для локальной разработки достаточно выполнить:
#   docker compose up -d

# Postgres
# POSTGRES_USER=postgres_user
# POSTGRES_PASSWORD=postgres_password

# Redis
# REDIS_PASSWORD=redis_password

# Meilisearch
# MEILI_MASTER_KEY=masterKeyRequired16Chars
# MEILI_ENV=development

# Приложение
# APP_ENV=local
